/* Cliff Ashbrook, Haverhill Robotics Website, 11.18.18  
external style sheet for Haverhill Robotics website. */
* {
    box-sizing: border-box;
}
body {
    background-color: #222222;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
}
/* div container for the website content */
#container {
    background-color: #F0F7F4;
    /* css grid used to organize header, nav, main and footer */
    display: grid;
    /* defining gride columns and rows */
    grid-template-columns: 175px 3fr;
    grid-template-rows: 90px 2fr 1fr;
    /* total width of website content */
    width: 90%;
    /* limit content at certain width */
    max-width: 1440px;
    margin: auto;
    margin-top: 10px;
}
/* header contains logo */
header {
    /* css grid to define how wide header should be */
    grid-column: 1 / 3;
    background-image: url("images/haverhill_robotics_logo.png");
    background-repeat: no-repeat;
    /* poisition logo */
    background-position: 20px center;
    background-color: #2574a9;
    color: #E5E7E6;
}
h1 {
    margin: 12px 0 0 100px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 3em;
    letter-spacing: 1px;
}
/* navigation links. css grid to define column and row placement */
nav {
    grid-row: 2 / 4;
    background-color: #ededed;
}
nav ul {
    padding: 5px;
    margin-left: 15px;
}
nav li {
    list-style-type: none;
    padding: 10px 0;
}
nav a {
    text-decoration: none;
    color: #1f6390;
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
}
nav a:hover, main a:hover{
    color: #4090c5;
}
/* main content for website. css grid used for placement.*/
main {
    grid-row: 2 / 4;
    margin-bottom: 30px;
}
main a {
    color: #1f6390;
    font-weight: bold;
    text-decoration: none;
}
main p {
    margin: 20px 30px;
    line-height: 1.6em;
}
main .competitionArea p {
    margin-left: 0;
}
#skills, #contactMe {
    margin-left: 30px;
}
#skills li {
    margin-bottom: 4px;
}
#contactMe {
    margin-bottom: 20px;
}
h2 {
    margin: 26px 0 0 30px;
    text-align: left;
}
form {
    margin-left: 50px;
}
.bannerImg   {
    width: 100%;
    height: auto;
}
.competitionArea {
    margin-left: 30px;
    margin-top: 20px;
}
.competitionImg {
    width: 80%;
}
table {
    margin-left: 25px;
}
table li {
    margin-bottom: 8px;
}
/* class used for responsive design using css grid */
.tableRow {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
th {
    text-align: right;
    vertical-align: top;
}
td {
    padding-left: 25px;
    padding-right: 10px;
}
#hideBullet {
    list-style-type: none;
}
/* footer content. css grid used for placement */
footer {
    grid-column: 1 / 3;
    text-align: center;
    padding: 5px 0;
    background: #2574a9;
    font-size: .70em;
    font-style: italic;
    color: #E5E7E6;
}
footer a {
    text-decoration: none;
    color: #E5E7E6;
}
footer a:hover {
    color: #a0a1a1;
}
label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}
input, textarea {
    display: block;
    margin-bottom: 1em;
}
input, #comments {
    width: 250px;
}
#mySubmit, #myClear {
    width: 70px;
    display: inline;
}
#mySubmit {
    margin-left: 11.5em;
}
#myClear {
    margin-left: 10px;
}
/* css targeting tablet devices. used for responsive design */
@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
    }
    #container {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 85px 30px auto 50px;
        grid-gap: 0;
        margin: 0;
    }
    nav {
        grid-row: 2 / 3;
        border-bottom: 1px solid #2574a9;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    nav li {
        display: inline;
        padding: 4px;
        border: none;
    }
    main {
        grid-row: 3 / 4;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    main .competitionArea p {
        margin-left: 50px;
    }
    .competitionArea {
        margin: 0;
        margin-top: 20px;
    }
    .competitionImg {
        display: block;
        width: 90%;
        margin: auto;
    }
    h2 {
        margin-top: 10px;
    }
}
/* css targetubg a variety of mobile devices. used for responsive design */
@media only screen and (max-width: 768px) {
    #container {
        grid-template-rows: auto;
    }
    header {
        background-image: none;
    }
    h1 {
        margin: 0;
        padding: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    h2 {
        margin-left: 15px;
    }
    nav {
        border: none;
    }
    nav ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    nav li {
        text-align: center;
        background-color: #ededed;
    }
    nav a {
        font-size: .90em;
    }
    main {
        margin: 0 0 20px 0;
        padding: 5px;
    }
    main p {
        margin: 0;
        padding: 10px 15px;
    }
    .competitionImg {
        width: 100%;
    }
    .competitionArea {
        margin-bottom: 30px;
        margin-left: 10px;
    }
    main .competitionArea p {
        margin-left: 0;
    }
    .tableRow {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    table {
        width: 100%;
    }
    table, td {
        margin: 0;
        padding: 5px;
    }
    th {
        background-color: #2574a9;
        color: #E5E7E6;
        text-align: center;
        padding: 2px;
    }
    td {
        margin-bottom: 10px;
    }
    form {
        margin: 10px;
        padding: 10px;
    }
    label, input, #comments {
        float: none;
        width: 100%;
        font-size: 1.1em;
    }
    label {
        text-align: left;
        margin-bottom: 10px;
    }
    #mySubmit, #myClear {
        width: 80px;
        font-size: .90em;
        margin: auto;
        display: block;
    }
    #mySubmit {
        margin-bottom: 20px;
    }
}